<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cd.wayupdev.project_mobile">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projectmobile"
        tools:targetApi="31">
        <activity
            android:parentActivityName=".ProfileActivity"
            android:label="Modifier Profile"
            android:name=".ModifierProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ListeTravailActivity"
            android:exported="false"
            android:label="Liste Travail"
            android:parentActivityName=".HomePageActivity" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:label="Profile"
            android:parentActivityName=".HomePageActivity" />
        <activity
            android:name=".AjouterTravailActivity"
            android:exported="false"
            android:label="Ajouter"
            android:parentActivityName=".HomePageActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="Login" />
        <activity
            android:name=".HomePageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>